
.buttoncontainer{
      background-color: "yellow";
      height: 45px;
      position: absolute;
      margin-top: 1%;
      margin-right: 2%;
      top: 0;
      right: 0;
      padding-left: 6em;
      padding-right: 1em;
      padding-top: 1%;
      width: 2em;
      align-items: center;
      z-index:10;
      
      }

.wrapper{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.about{
    background-color: red;
    width: 100%;
    height: 100vh;
}
.art{
    background-color: rgb(157, 38, 82);
    width: 100%;
    height: 100vh;
}
.tech{
    background-color: blue ;
    height: 100vh;
    width: 100%;
}
.main{
    background-color: blue ;
    height: 100%;
    width: 100%;
}
.parent {
    background: white;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parent[data-isOpen="true"] {
    width: 600px;
    height: 600px;
  }

.container{
    position: static;
    width: 100px;
    height: 0px;

}
body{
    overflow: scroll;
    /* overflow-x: hidden; */
}

nav {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: auto;
      float: right;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      width: fit-content;
      min-height: 100vh;
      overflow: hidden;
      
  }
  .c-container{
      float: right;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-left: 0%;
      width: 100%;
      height: 100%;
      text-align: center;
      white-space: nowrap;
     
      transition: opacity 0.5s ease-in-out, height 1s ease ;
      overflow: hidden;

  }
  .c-container-closed{
    float: right;
    padding-left: 0%;
    width: 100%;
    height: 0%;
    text-align: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: height 1s ease ;
    overflow: hidden;

}
    .c-container:hover{
        opacity: 0.8; /* Decrease opacity on hover *//* Increase size on hover */
    
    }
   


  /* Optional: Add some styling to the content within the flex container */
  .flex-item {
      float: right;
      margin-bottom: 10px;
  }

h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-family: Gelion;
    font-size: 11em;
    font-style: normal;
    font-weight: 900;
    line-height: 70%;
    
    
}

h2{
    color: #FFF;
    margin: 0;
    font-family: Gelion;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    letter-spacing: -0.9px;
}

p3{
    color: #FFF;
font-family: "Source Serif 4";
font-size: 2em;
font-style: italic;
font-weight: normal;
line-height: normal;
letter-spacing: -0.9px;

}
.text{
    flex-wrap: wrap;
    max-width: 50%;
    padding-top: 3%;
    margin-top: 0;
    margin-left: 3%;
}

.buttonwrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  
.dot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .buttonwrapper.hover .dot {
    background: transparent;
  }
  .dot::before, .dot::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.35s ease;
  }
  .buttonwrapper.hover .dot::before, .buttonwrapper.hover .dot::after {
    height: 45px;
    border-radius: 0;
  }
  .dot::before {
    left: -18px;
  }
  .buttonwrapper.hover .dot::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
    border-radius: 9px;
  }
  .dot::after {
    right: -18px;
  }
  .buttonwrapper.hover .dot::after {
    transform: rotate(-45deg);
    transform-origin: left bottom;
    border-radius: 9px;
  }





  