button{
      position: absolute;
      margin-top: 2%;
      margin-right: 2%;
      top: 0;
      right: 0;
      padding-left: 6em;
      padding-right: 6em;
      padding-top: 1%;
      width: 20em;
      align-items: center;
      z-index: 10;
      
      }

.wrapper{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.about{
    background-color: red;
    width: 100%;
    height: 100vh;
}
.art{
    background-color: rgb(157, 38, 82);
    width: 100%;
    height: 100vh;
}
.tech{
    background-color: blue ;
    height: 100vh;
    width: 100%;
}
.main{
    background-color: blue ;
    height: 100%;
    width: 100%;
}
.parent {
    background: white;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parent[data-isOpen="true"] {
    width: 600px;
    height: 600px;
  }

.container{
    position: static;
    width: 100px;
    height: 0px;

}
body{
    overflow: hidden;
}

nav {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: auto;
      float: right;
      padding: 0;
      display: flex;
      justify-content: end;
      width: fit-content;
      min-height: 100vh;
      overflow: hidden;
      
  }
  .c-container{
      float: right;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-left: 0%;
      width: 100%;
      height: 100%;
      text-align: center;
      white-space: nowrap;
     
      transition: opacity 0.5s ease-in-out, height 1s ease ;
      overflow: hidden;

  }
  .c-container-closed{
    float: right;
    padding-left: 0%;
    width: 100%;
    height: 0%;
    text-align: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: height 1s ease ;
    overflow: hidden;

}
    .c-container:hover{
        opacity: 0.8; /* Decrease opacity on hover *//* Increase size on hover */
    
    }
   


  /* Optional: Add some styling to the content within the flex container */
  .flex-item {
      float: right;
      margin-bottom: 10px;
  }

h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-family: Gelion;
    font-size: 13em;
    font-style: normal;
    font-weight: 900;
    line-height: 70%;
    
    
}

h2{
    color: #FFF;
    margin: 0;
    font-family: Gelion;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    letter-spacing: -0.9px;
}

p3{
    color: #FFF;
font-family: Source Serif 4;
font-size: 2em;
font-style: italic;
font-weight: normal;
line-height: normal;
letter-spacing: -0.9px;

}
.text{
    flex-wrap: wrap;
    max-width: 50%;
    padding-top: 3%;
    margin-top: 0;
    margin-left: 3%;
}